/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

/*=============== CSS VARIABLES ===============*/
:root {
  --header-height: 5.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: hsl(219, 4%, 4%);
  --container-color: hsl(219, 4%, 7%);

  /*========== Font and typography ==========*/
  /*.5rem = 5px | 1rem = 10px ...*/
  --body-font: "Exo", sans-serif;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.2rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%; /*font-size = 10px*/
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  padding-inline: 2.4rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 2.4rem;
}
.section {
  padding: 7rem 0 3rem;
}
.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 4rem;
}
.main {
  overflow: hidden;
}
.shape {
  background-color: hsla(219, 33%, 32%, 0.5);
  filter: blur(11rem);
  border-radius: 50%;
}
.shape__big {
  width: 40rem;
  height: 40rem;
}
.shape__small {
  width: 30rem;
  height: 30rem;
}
.shape__smaller {
  width: 18rem;
  height: 18rem;
  filter: blur(6rem);
}
/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.3s;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle {
  display: inline-flex;
  color: var(--title-color);
}
.nav__logo {
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.nav__logo i {
  font-size: 2rem;
}
.nav__logo:hover {
  color: var(--first-color);
}
.nav__toggle {
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: hsla(0, 0%, 100%, 0.1);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(9rem);
    transition: 0.3s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 12rem;
}
.nav__link {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: color 0.3s;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
}
/* Show menu */
.show-menu {
  right: 0;
}
/* Change background header */
.bg-header {
  background-color: var(--body-color);
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}
/* Active link */
.active-link {
  color: var(--first-color);
}
/*=============== HOME ===============*/
.home {
  position: relative;
  overflow: hidden;
}
.home__container {
  position: relative;
  row-gap: 5rem;
  padding-top: 6.5rem;
}
.home__data {
  text-align: center;
}
.home__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}
.home__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.home__elec {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
.home__elec i {
  color: var(--first-color);
}
.home__img {
  width: 28rem;
  justify-self: center;
}
.home__car {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;
  margin-bottom: 3rem;
}
.home__car-data {
  text-align: center;
}
.home__car-icon {
  background-color: var(--container-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.home__car-number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.5rem;
}
.home__car-name {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color-light);
}
.home__button {
  position: relative;
  border: 2px solid hsl(158, 89%, 30%);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-medium);
}
.home__button::before {
  content: "";
  position: absolute;
  border: 2px solid hsl(158, 98%, 43%);
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  box-shadow: 0 0 1.2rem hsl(158, 98%, 43%);
  transition: 0.3s;
  animation: button 3s infinite;
}
.home .shape__big,
.home .shape__small {
  position: absolute;
}
.home .shape__big {
  left: -14rem;
  top: -7rem;
}
.home .shape__small {
  right: -16rem;
  bottom: 5rem;
}
/* Button animate */
@keyframes button {
  0% {
    box-shadow: 0 0 1.2rem hsl(158, 98%, 43%);
  }
  50% {
    box-shadow: 0 0 2.4rem hsl(158, 98%, 43%);
  }
}
/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: var(--normal-font-size);
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
